.main {
  width: 82vw;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  padding: 20px;
}

body {
  font-size: 16px;
}

.custom-modal {
  background-color: white !important;
}

.category-modal,
.major-modal {
  position: fixed;
  z-index: 200;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) !important;
}

.hide {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
