* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh; /* Thêm dòng này để sử dụng toàn bộ chiều cao màn hình */
    margin: 0; /* Đảm bảo không có khoảng cách xung quanh */
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
    border: 1px solid hsl(230, 75%, 56%);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ để làm nổi bật form */
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    background: hsl(230, 75%, 56%);
    left: 0;
    bottom: 0;
    top: 40px;
}

form {
    margin-top: 40px;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input:focus {
    border-color: hsl(230, 75%, 56%);
}

form .button {
    height: 45px;
    margin: 45px 0;
}

.btn {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: hsl(230, 75%, 56%);
}

.btn:hover {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}
