.green-color {
  color: #28A745 !important;
}

a {
  text-decoration: none !important;
}

.feature-description,
.feature-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-image {
  max-width: 240px;
  object-fit: cover;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top span {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-weight: 600;
}

.card-top span:first-child {
  color: #007BFF;
}

.card-top span:last-child {
  color: #28A745;
}

.notification-title {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
}

.notification-title:hover {
  color: #ff0000;
  text-decoration: none;
}

.publish-day {
  font-size: 12px;
  font-style: italic;
  color: #877373;
}

.custom-card-image {
  height: 150px;
  object-fit: cover;
}

.spacer {
  margin: 12px 0 30px 0;
}

.more {
  display: block;
  margin-top: 8px;
  float: right;
}

.news-card {
  margin-top: 25px;
}

.card-detail:hover {
  text-decoration: none;
}

.card-title {
  color: #343A40;
}

.card-text {
  color: #212529;
  height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subject {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}